<ion-view view-title="Trackbus">
    <ion-content class="has-header">
        Bem vindo ao Trackbus!
        <strong>Importante</strong>
        Para o bom funcionamento do aplicativo:
        Verifique se seu serviço de localização está ativo.
        Para receber notificações de áudio, lembre-se de habilitar o som do seu dispositivo.

        <a ng-click="showInstructions=!showInstructions">Instruções</a>
        <div ng-show="showInstructions">
            <li>Escolha as linhas de ônibus que deseja acompanhar</li>
            <li>Caso queira receber notificações de proximidade de um ônibus, selecione-o no mapa e confirme.</li>
            <li>Para acompanhar a viagem, ao entrar no ônibus indique em qual linha você está.</li>
        </div>
        <button class="button button-full button-assertive"
            ng-click="vm.goToList()">
            Começar
        </button>
    </ion-content>
</ion-view>