<ion-view view-title="Linhas">
    <!--INSERT CSS HERE-->
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Trackbus</h1>
        <!--<div class="buttons">
            <button class="button">button</button>
        </div>-->
    </ion-header-bar>
    <ion-content class="has-header">

        <ion-item>
            <input type="text" placeholder="Digite o número da linha" ng-model="vm.lineFilter" size="50"></ion-input>
        </ion-item>

        <ion-list>
            <ion-item collection-repeat="line in vm.displayedLines | filter:vm.lineFilter"  ng-click="vm.goToMap(line)">
                {{line}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
