<ion-view view-title="Mapa">
    <ion-content class="has-header">
        <div class="map-container">
            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" control="vm.map">
                <!-- User marker -->
                <ui-gmap-marker coords="vm.userMarker.coords" options="vm.userMarker.options"
                    events="vm.userMarker.events" idkey="'user'"
                    click="vm.userMarker.click">
                </ui-gmap-marker>
                <!-- User marker -->
                <!-- Bus markers -->
                <ui-gmap-markers models="vm.busMarkers" icon="'options.icon'" coords="'coords'"
                    click="vm.onMarkerClick">
                </ui-gmap-markers>
                <!-- Bus markers -->
                <ui-gmap-window show="vm.showMarker" coords="vm.selectedMarker.coords"
                    closeClick="vm.onWindowClose">
                    <div class="tooltipMap">
                        <label>
                            Linha: <span>{{vm.selectedMarker.line}}</span>
                        </label>
                        <label>
                            Distância: <span class="positive">{{vm.selectedMarker.distance}} km</span>
                        </label>
                        <button class="btnTooltip" ng-click="$parent.vm.addProximityListener($parent.vm.selectedMarker)">
                            <i class="fa fa-bell" aria-hidden="true"></i>Notificar proximidade
                        </button>
                    </div>
                </ui-gmap-window>
            </ui-gmap-google-map>
        </div>


        <div class="tripContainer">
            <label class="item item-divider white">Acompanhar viagem na linha</label>

            <button class="" ng-repeat="line in vm.linesIds" ng-click="vm.goToTrip(line)">
                {{::line}}<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
        </div>
    </ion-content>
</ion-view>
