<ion-view view-title="Trackbus">
    <!--INSERT CSS HERE-->
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <!--<ion-header-bar align-title="center" class="bar-positive">
    </ion-header-bar>-->
    <ion-content class="has-header">
        <body>
            <script id="searchbox.tpl.html" type="text/ng-template">
                <input type="text" placeholder="Endereço">
            </script>
            <div class="map-container">
                <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" control="vm.map">
                    <!-- Search box -->
                    <ui-gmap-search-box options="vm.searchbox.options"
                        template="vm.searchbox.template"
                        events="vm.searchbox.events" position="vm.searchbox.position">
                    </ui-gmap-search-box>
                    <!-- Search box -->

                    <!-- User marker -->
                    <ui-gmap-marker coords="vm.userMarker.coords" options="vm.userMarker.options"
                        events="vm.userMarker.events" idkey="'user'"
                        click="vm.userMarker.click">
                            <ui-gmap-window>
                                <div>
                                    olar
                                </div>
                            </ui-gmap-window>
                    </ui-gmap-marker>
                    <!-- User marker -->

                    <!-- Bus markers -->
                    <div ng-repeat="marker in vm.busMarkers">
                        <ui-gmap-marker
                            coords="marker.coords" options="marker.options"
                            events="marker.events" idkey="marker.id"
                            click="marker.click">
                            <!-- Window content -->
                            <ui-gmap-window>
                                <div>
                                    <a ng-click="vm.notifyProximity()">Notificar proximidade</a>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </div>
                    <!-- Bus markers -->
                </ui-gmap-google-map>

                <button class="button button-full button-assertive btn-location ion-location"
                    ng-click="vm.startTrip()">
                    Acompanhar viagem na linha {{vm.selectedLine}}
                </button>
            </div>
        </body>
    </ion-content>
</ion-view>
