<ion-view view-title="Trackbus">
    <!--INSERT CSS HERE-->
    <ion-content class="has-header">
        <div class="item item-divider">
            Notificações
        </div>

        <ion-list>
            <ion-item>
                <li class="item item-toggle">
                    Vibração
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="vm.options.notification.vibration">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ion-item>
        </ion-list>

        <div class="list">
            <ion-item>
                <ion-radio ng-model="vm.options.notification.soundAlert" ng-value="vm.OPTIONS.SOUND.NO_SOUND">
                    Sem som
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-radio ng-model="vm.options.notification.soundAlert" ng-value="vm.OPTIONS.SOUND.SOUND_ALERT">
                    Alerta sonoro
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-radio ng-model="vm.options.notification.soundAlert" ng-value="vm.OPTIONS.SOUND.VOICE">
                    Voz
                </ion-radio>
            </ion-item>
        </div>

        <div class="item item-divider">
            Configurações do GPS
        </div>

        <ion-list class="gps">
            <div class="item">
                <ion-label stacked>
                    Distância da notificação de ônibus
                </ion-label>

                <input ng-model="vm.options.notification.busDistance" type="number">
                <label class="tag" ng-if="vm.options.notification.busDistance > 1">metros</label>
                <label class="tag" ng-if="vm.options.notification.busDistance <= 1">metro</label>
            </div>

            <div class="item">
                <ion-label stacked>
                    Distância da notificação de pontos
                </ion-label>
                <input ng-model="vm.options.notification.stopDistance" type="number">

                <label class="tag" ng-if="vm.options.notification.stopDistance > 1">
                    metros
                </label>
                <label class="tag" ng-if="vm.options.notification.stopDistance <= 1">
                    metro
                </label>
            </div>

            <div class="item">
                <ion-label stacked>
                    Distância da notificação de pontos turísticos
                </ion-label>
                <input ng-model="vm.options.notification.touristDistance" type="number">

                <label class="tag" ng-if="vm.options.notification.touristDistance > 1">
                    metros
                </label>
                <label class="tag" ng-if="vm.options.notification.touristDistance <= 1">
                    metro
                </label>
            </div>
        </ion-list>

        <div class="item item-divider">
            Pontos turísticos
        </div>

        <ion-list>
            <ion-item>
                <li class="item item-toggle">
                    Exibir pontos turísticos
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="vm.options.tourist.enable">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ion-item>
        </ion-list>

        <ion-list>
            <div class="item">
                <div class="btnContainer">
                    <button ng-clic="vm.save()" class="btnDefault greenBtn button-full">
                        Salvar preferências
                    </button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
