<ion-view view-title="Trackbus">
    <!--INSERT CSS HERE-->
    <ion-content class="has-header">
        <body>
            <div id="map-div" class="map-container">
                <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" control="vm.map">
                    <!-- User marker -->
                    <ui-gmap-marker coords="vm.userMarker.coords" options="vm.userMarker.options"
                        events="vm.userMarker.events" idkey="'user'"
                        click="vm.userMarker.click">
                    </ui-gmap-marker>
                    <!-- User marker -->

                    <!-- Bus stops -->
                    <div ng-repeat="marker in vm.stopsMarkers">
                        <ui-gmap-marker
                            coords="marker.coords" options="marker.options"
                            events="marker.events" idkey="marker.id"
                            click="marker.click">
                            <!-- Window content -->
                            <ui-gmap-window>
                                <div>
                                    {{::marker.description}}
                                    <br>
                                    <button class="button button-small button-assertive"
                                        ng-click="$parent.vm.addStopProximityListener($parent.marker, true)">
                                        Notificar proximidade
                                    </button>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </div>
                    <!-- Bus stops -->

                    <!-- Tourist stops -->
                    <div ng-repeat="marker in vm.touristMarkers">
                        <ui-gmap-marker
                            coords="marker.coords" options="marker.options"
                            events="marker.events" idkey="marker.id"
                            click="marker.click">
                            <!-- Window content -->
                            <ui-gmap-window>
                                <div>
                                    {{::marker.id}}
                                    <br>
                                    {{::marker.address}}
                                    <br>
                                    <button class="button button-small button-assertive"
                                        ng-click="$parent.vm.addTouristProximityListener($parent.marker, true)">
                                        Notificar proximidade
                                    </button>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </div>
                    <!-- Tourist stops -->
                </ui-gmap-google-map>
                <button ng-click="vm.centerMap()" class="icon ion-android-locate"></button>
            </div>

            <div class="button-bar">
                <a class="button" ng-click="showStops=true">Pontos de parada</a>
                <a class="button" ng-click="showStops=false">Pontos turísticos</a>
            </div>

            <!--Pontos de parada-->
            <div ng-show="showStops" ng-init="showStops=true">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="stopFilter" ng-model-options="{debounce: 750}" type="text" placeholder="Buscar">
                </label>
                <ion-list ng-repeat="stop in vm.stops|filter:stopFilter">
                    <ion-item ng-click="vm.setPosition({latitude: stop.latitude, longitude: stop.longitude})">
                        <i class="icon ion-ios-location"></i>
                        {{::stop.descricao_ponto}}
                    </ion-item>
                </ion-list>
            </div>
            <!--Pontos de parada-->

            <!-- Pontos turísticos -->
            <div ng-show="!showStops">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="touristFilter" ng-model-options="{debounce: 750}" type="text" placeholder="Buscar">
                </label>
                <ion-list ng-repeat="ts in vm.touristSpots|filter:touristFilter">
                    <ion-item ng-click="vm.setPosition({latitude: ts.latitude, longitude: ts.longitude})">
                        <i class="icon ion-ios-location"></i>
                        {{::ts.nome}}
                    </ion-item>
                </ion-list>
            </div>
            <!-- Pontos turísticos -->
        </body>
    </ion-content>
</ion-view>
