<ion-view view-title="Viagem">
    <ion-content class="has-header">
        <div id="map-div" class="map-container">
            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" control="vm.map">
                <!-- User marker -->
                <ui-gmap-marker coords="vm.userMarker.coords" options="vm.userMarker.options"
                    events="vm.userMarker.events" idkey="'user'"
                    click="vm.userMarker.click">
                </ui-gmap-marker>
                <!-- User marker -->

                <!-- Bus stops -->
                <ui-gmap-markers models="vm.stopsMarkers" idkey="'description'" icon="'options.icon'" coords="'coords'"
                    click="vm.onStopMarkerClick">
                </ui-gmap-markers>

                <ui-gmap-window show="vm.showStopMarker" coords="vm.selectedStopMarker.coords"
                    closeClick="vm.onStopWindowClose">
                    <div class="tooltipMap">
                        <label>
                            <span>{{vm.selectedStopMarker.description}}</span>
                        </label>
                        <button class="btnTooltip"
                            ng-click="$parent.vm.addStopProximityListener($parent.vm.selectedStopMarker)">
                            <i class="fa fa-bell" aria-hidden="true"></i>Notificar proximidade
                        </button>
                    </div>
                </ui-gmap-window>
                <!-- Bus stops -->

                <!-- Tourist stops -->
                <ui-gmap-markers models="vm.touristMarkers" icon="'options.icon'" coords="'coords'"
                    click="vm.onTouristMarkerClick">
                </ui-gmap-markers>

                <ui-gmap-window show="vm.showTouristMarker" coords="vm.selectedTouristMarker.coords"
                    closeClick="vm.onTouristWindowClose">
                    <div class="tooltipMap">
                        <label>
                            <span>{{vm.selectedTouristMarker.id}}</span>
                        </label>
                        <label>
                            <span>{{vm.selectedTouristMarker.address}}</span>
                        </label>
                        <button class="btnTooltip"
                            ng-click="$parent.vm.addTouristProximityListener($parent.vm.selectedTouristMarker)">
                            <i class="fa fa-bell" aria-hidden="true"></i>Notificar proximidade
                        </button>
                    </div>
                </ui-gmap-window>
                <!-- Tourist stops -->
            </ui-gmap-google-map>

            <button ng-click="vm.centerMap()" class="centerBtn">
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
            </button>
        </div>

        <div class="stopsContainer">
            <div class="backToTop" scroll-to="top" ng-click="vm.backToTop()">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>

            <div class="button-bar">
                <a class="button" ng-class="{'tabActive': showStops, 'tabStops': showStops}" ng-click="showStops=true">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    Pontos de parada
                </a>

                <a class="button" ng-class="{'tabActive': !showStops, 'tabTour': !showStops}" ng-click="showStops=false">
                    <i class="fa fa-camera-retro" aria-hidden="true"></i>
                    Pontos turísticos
                </a>
            </div>

            <div id="top">
            </div>
            <!--Pontos de parada-->
            <div id="stops" class="stops" ng-show="showStops" ng-init="showStops=true">
                <div class="subFilter">
                    <input ng-model="stopFilter" ng-model-options="{debounce: 750}" type="text" placeholder="Buscar">
                    </label>
                </div>

                <div class="stop" ng-repeat="stop in vm.stops|filter:stopFilter"
                    scroll-to="map-div"
                    ng-click="vm.setPosition({latitude: stop.latitude, longitude: stop.longitude})">
                    <div class="iconContainer bus">
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </div>
                    {{::stop.descricao_ponto}}
                </div>
            </div>
            <!--Pontos de parada-->

            <!-- Pontos turísticos -->
            <div id="tours" class="stops" ng-show="!showStops">
                <div class="subFilter">
                    <input ng-model="touristFilter" ng-model-options="{debounce: 750}" type="text" placeholder="Buscar">
                </div>

                <div class="stop" ng-click="vm.setPosition({latitude: ts.latitude, longitude: ts.longitude})" ng-repeat="ts in vm.touristSpots|filter:touristFilter">
                    <div class="iconContainer tour">
                        <i class="fa fa-camera-retro" aria-hidden="true"></i>
                    </div>
                    {{::ts.nome}}
                </div>
            </div>
            <!-- Pontos turísticos -->
        </div>
    </ion-content>
</ion-view>
