.angular-google-map-container {
    height: 300px
}

/* ionic override */
.back-button {
    text-shadow: 2px 2px 0 #000;
}
.button-icon {
    text-shadow: 2px 2px 0 #000;
}
    .bar.bar-positive {
        background: #327CCB;
        border: none;
    }
        .platform-android .bar .title {
            font-size: 2.2em;
        }

    .bar .title {
        font-family: 'Bungee';
        font-size: 2em;
        text-shadow: 2px 2px 0 #000;
    }

ion-label.input-label {
    font-family: 'Catamaran';
    font-weight: 300;
    padding: 0;
}
.input-label {
    font-family: 'Catamaran';
    font-size: 1em;
    font-weight: 700;
    padding: 0;
}
.item {
    position: relative;

    font-family: 'Catamaran';
    font-size: 1.2em;
    font-weight: 300;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: #332c2c;

    line-height: 23px;
}
    .item input {
        width: 100%;
        height: 40px;
        padding-left: 10px;

        background: #f1f1f1;
        border: 1px solid #327CCB;
    }
    .item .btnContainer {
        margin-bottom: 0;
    }

.item-divider {
    color: #332c2c;
    font-weight: 700;
    background: #DCDCDA;
}
    ion-item.item {
        padding: 0;
    }
    .item-radio .radio-icon {
        right: 5%;
        color: #332c2c;
    }

.list {
    margin-bottom: 0;
}
.angular-google-map {
    height: 100%;
}
.angular-google-map-container {
    height: 100%;
}
    .bar .button.button-icon,
    .bar button.button-icon {
        font-size: 24px;
    }

.popup-head {
    padding: 5px 10px;
}
    .popup-container .popup {
        border: 1px solid #fff;
    }

.popup-title {
    font-family: 'Bungee';
    font-size: 24px;
}
.popup-body {
    font-family: 'Catamaran';
}
    .popup-body span {
        font-size: 16px;
    }
        .button-bar > .button:first-child {
            border-radius: 0;
        }

.tabActive {
    position: relative;

    color: #fff;
    font-weight: 300;
    background: #609000;
    border-bottom: 1px solid #4B6E00;
}
    .tabActive:hover {
        color: #fff;
    }
    .tabActive:after {
        width: 0;
        height: 0;
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;

        margin-left: -8px;
        border: solid transparent;
        border-top-color: #609000;
        border-width: 8px;

        display: block;
        z-index: 9;
        pointer-events: none;
    }
    .button-bar > .button {
        overflow: visible;
    }
    .overflow-scroll > .scroll {
        background: #f1f1f1;
    }
    .button.active,
    .button.activated {
        color: #fff;
        border: 1px solid transparent;
        background: #609000;
    }
    .button-bar > .button:last-child {
        border-radius: 0;
    }
/* ionic override */

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: url(../img/bg-intro.jpg);
    background-size: auto 100%;
    background-position-x: 50%;
}
.content {
    width: 100%;
    height: 100%;
    float: left;
    padding: 20px;

    font-family: 'Catamaran';
    font-weight: 300;
}
        .content h1::before {
            width: 100%;
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;

            border-top: 2px solid #332c2c;
        }

    .content h1 {
        width: 100%;
        float: left;
        position: relative;

        color: #fff;
        font-family: 'Bungee';
        text-shadow: 2px 2px 0px #332c2c;
        text-align-last: center;

        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        background: transparent;

        z-index: 7;
    }
        .content h1::after {
            width: 100%;
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0px;

            border-top: 2px solid #332c2c;
        }

.introContainer {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    top: 40%;
    transform: translateY(-45%);
}
        .introContainer .btnContainer:last-child {
            margin-bottom: 0;
        }

.warning {
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 60px;

    color: #332c2c;
    font-size: 1.2em;
    text-align: center;

    border: 1px solid #fff;
    background: rgba(255, 255, 255, .9);
}
    .warning strong {
        width: 100%;
        float: left;
        margin-bottom: 10px;

        font-size: 1.1em;
    }

.btnContainer {
    width: 100%;
    height: 50px;
    float: left;
    display: block;
    margin-bottom: calc(10px + 5px);
}
.btnDefault {
    width: 100%;
    height: 50px;
    float: left;
    padding: 10px 0;

    text-align: center;
    font-family: 'Catamaran';
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;

    line-height: normal;
    border: none;
    cursor: pointer;
}
    .btnDefault:active {
        margin-top: 5px;
        box-shadow: none;
    }
    .btnDefault i {
        margin-right: 10px;
    }

.greenBtn {
    color: #fff;
    background: #609000;
    box-shadow: 0px 5px 0px #4B6E00;
}
.redBtn {
    color: #fff;
    background: #CA0700;
    box-shadow: 0px 5px 0px #A50400;
}
.blueBtn {
    color: #fff;
    background: #327CCB;
    box-shadow: 0px 5px 0px #0F66C1;
}

.tagWrapper {
    position: relative;
}
.tag {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;

    padding: 5px 10px;

    color: #fff;
    font-family: 'Catamaran';
    font-size: 1em;
    font-weight: 300;

    line-height: 29px;
    background: #327CCB;
}
        .gps .item:nth-child(2) {
            padding-top: 0;
            padding-bottom: 0;
        }

.subMenu {
    width: 100%;
    height: 40px;
    display: table;

    background: #5494D6;
}
.search {
    width: 100%;
    height: 100%;

    color: #fff;
    font-family: 'Catamaran';
    font-weight: 300;
    font-size: 1.3em;

    text-align: center;
    display: table-cell;
    vertical-align: middle;

    cursor: pointer;
    text-shadow: 1px 1px 0px #332c2c;
}
    .search i {
        margin-right: 10px;
        font-size: .85em;
    }

.subFilter {
    width: 100%;
    height: 50px;
    padding: 10px;

    background: #7EB0E4;
}
    .subFilter input {
        width: 85%;
        height: 30px;
        float: left;
        padding-left: 10px;

        font-family: 'Catamaran';
        font-weight: 300;
        font-size: 1.1em;

        border: 1px solid #332c2c;
    }

.subFilterClose {
    width: 10%;
    height: 30px;
    float: right;

    color: #fff;
    font-size: 1.6em;
    text-align: center;
    line-height: 30px;
    background: #CA0700;
}
.filterContainer {
    width: 100%;
    min-height: 100%;
    float: left;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    border-top: 1px solid #332c2c;
    background: #f1f1f1;
}
.filterPadded {
    padding-bottom: 160px;
}
.filterItem {
    width: 32%;
    margin-right: 2%;
    margin-top: 10px;
    padding: 5px 10px;

    color: #332c2c;
    font-family: 'Catamaran';
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;

    background: #fff;
    border: 1px solid #332c2c;
}
    .filterItem i {
        margin-right: 5px;
        font-size: .7em;
    }
    .filterItem:nth-child(3n) {
        margin-right: 0;
    }
    .filterItem:nth-child(-n+3) {
        margin-top: 0;
    }

.white {
    background: #fff;
}
.selectedLines {
    width: 100%;
    height: 150px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;

    background: #fff;
    border-top: 1px solid #332c2c;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
}
    .selectedLines span {
        font-family: 'Catamaran';
        font-weight: 400;
    }
    .selectedLines .filterContainer {
        min-height: auto;
        padding: 10px 0;
        background: #fff;
    }
    .selectedLines .btnContainer {
        margin-bottom: 5px;
    }

.selected {
    text-align: center;
    color: #fff;
    background: #609000;
    border: 1px solid #4B6E00;
}
    .selected i {
        margin-left: 5px;
        margin-right: 0;
    }

.map-container {
    width: 100%;
    height: calc(100% - 228px);
    float: left;
    position: relative;
    border-bottom: 1px solid #332c2c;
}
.centerBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 8px;

    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background: #327CCB;
    border: 1px solid #094C91;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}
    .centerBtn:active {
        background: #5494D6;
        box-shadow: none;
    }

.tooltipMap {
    width: 100%;
}
    .tooltipMap label {
        width: 100%;
        float: left;

        font-family: 'Catamaran';
        font-weight: 300;
        font-size: 1.4em;
    }
        .tooltipMap label span {
            font-style: italic;
        }

.positive {
    color: #609000;
}
.btnTooltip {
    width: 100%;
    height: 30px;
    float: left;

    color: #fff;
    font-family: 'Catamaran';
    font-size: 1.2em;
    background: #609000;
    border: 1px solid #4B6E00;
}
    .btnTooltip i {
        margin-right: 5px;
        font-size: .8em;
    }

.tripContainer {
    width: 100%;
    min-height: 228px;
    position: fixed;
    left: 0;
    bottom: 0;

    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
}
    .tripContainer .item-divider {
        border-top: 1px solid #332c2c;
    }
    .tripContainer button {
        width: 100%;
        float: left;
        padding: 15px 20px;

        color: #327CCB;
        font-family: 'Catamaran';
        font-weight: 400;
        font-size: 1.6em;
        text-align: left;

        background: #fff;
        border: 1px solid transparent;
        border-bottom: 1px solid #332c2c;
    }
        .tripContainer button:active {
            background: #eaeaea;
        }
        .tripContainer button i {
            float: right;
            margin-top: 4px;

            color: #0F66C1;
        }

.stopsContainer {
    width: 100%;
    max-height: 228px;
    position: fixed;
    left: 0;
    bottom: 0;

    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
    overflow: scroll;
}
    .stopsContainer .button-bar {
        width: 100%;
        float: left;
        
    }
    .stopsContainer .button-bar button {
        border: none;
        background: #f1f1f1;
    }

.stops {
    width: 100%;
    float: left;
    background: #fff;
}
    .stops .subFilter {
        background: #ccc;
        border-bottom: 1px solid #332c2c;
    }
        .stops .subFilter input {
            width: 100%;
        }

.stop {
    width: 100%;
    float: left;
    padding: 20px;
    padding-left: 50px;
    position: relative;

    color: #332c2c;
    font-family: 'Catamaran';
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
    line-height: 100%;

    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #332c2c;
}
    .stop:active {
        background: #eaeaea;
    }

.iconContainer {
    position: absolute;
    top: 20px;
    left: 20px;
}
    .iconContainer i {
        float: left;
        color: #332c2c;
    }
    .bus i {
        color: #327CCB;
    }
    .tour i {
        color: #CA0700;
    }
